
* {
    box-sizing: border-box;
    margin: 0 auto;
}
.navbar-container {
    margin: auto;
    display: flex;
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.543);
    max-width: 10000px;
    width: 100%;
}
.navbar-container img {
    background-color: inherit;
    width: 20%;
    margin-left: 0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-container img {
        width: 50%;
        margin: 0 auto;
        align-items: center;
        justify-items: center;
    }
}