* {
    box-sizing: border-box;
}
.navbar-container {
    margin: auto;
    align-items: center;
    display: flex;
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.543);
    max-width: 10000px;
    width: 100%;
    z-index: 1000;


    
}

.navbar-container img {
    background-color: inherit;
    width: auto; 
    height: 80px;
    cursor: pointer;
    margin-left: 0;
}
.navbar-container ul {
    margin: auto;
    padding-left: 50%;
    display: flex;  
}

.navbar-container li {
    list-style-type: none;
    background-color: inherit;
    padding: 10px 15px;  
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(3, 42, 83, 0.83);  
    font-weight: bold;
}

.navbar-container li:hover,
.navbar-container .live.active li {  
    background-color: #042f5d;
    color: white;
    cursor: pointer;
}

.navbar-container .live {
    text-decoration: none;
    color: black;
}




@media (max-width: 768px) {
    .navbar-container {
        justify-content: center; 
    }
    .navbar-container ul {
        padding-left: 3%;
        width: 100%;
        justify-content: center;
    }

    .navbar-container li {
        font-size: 14px;
        padding: 8px 12px;
    }

    .navbar-container img {
        padding-top: 8px;
        max-width: 240px;
        padding-left: 8px;
        left: 0;
        height: auto;
    }
}
@media (max-width: 740px) {
    .navbar-container img {
        max-width: 220px;
    }
}