* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: auto;
}

.home-container {
  padding-top: 8%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40%;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 600px;
  margin: 2rem auto 0;
}


.search-bar, .date-picker {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 800px; 
}

.search-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  background-color: #0056b3;
  color: white;
}

.search-button:hover {
  background-color: #0a3a6d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.541);
  cursor: pointer;
  animation: background-color 0.3s ease;
}

.event-results {
  margin-top: 2rem;
  text-align: left;
}

.event-results .noevent {
  color: black;
}

.event-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  background-color: #ffffff;
  box-shadow: 0 2px 6px #0056b3;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.event-image {
  width: 20%;
  margin-left: 1rem;
  object-fit: cover;
  background-color: #ffffff;
  box-shadow: 0 4px 6px #0057b3ab;
  border-radius: 10px;
}
.event-image:not([src]) {
  display: none;
}

.event-details {
  flex: 1;
}

.event-item h2 {
  margin: 0;
  font-size: 1.5rem;
}

.event-item p {
  margin: 0.5rem 0;
}

.event-item a {
  color: #007BFF;
  text-decoration: none;
}

.event-item a:hover {
  text-decoration: underline;
}

.event-item button {
  display: inline-block;
  background-color: #0056b3;
  border-radius: 20px;
  padding: 10px 20px;
  width: 150px; 
  font-size: 15px;
  color: white;
  height: 40px; 
  border: none;
  transition: box-shadow 0.3s ease;
  text-align: center;
  line-height: 20px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}


.event-item button:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.447);
  cursor: pointer;
}
.live-container {
  margin: auto;
  flex-direction: column;
  padding-top: 10%;
  margin-bottom: 10%;
  z-index: -1;
}

.live-container .nba-card {
  padding: 2%;
  border-radius: 25px;
  max-width: 1000px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: black;

}
.live-container .nba-card { /* background opacity */
  background-size: cover;
  background-color: rgba(0, 0, 0, .5);
  background-image: url('../src/assets/wp1827445.jpg');
  background-blend-mode: multiply;
}

.nba-card img {
  width: 40%;

}
.live-container .nba-card:hover {
  box-shadow: 0 2px 8px #0056b3;
  cursor: pointer;
}

.live-container .nfl-card {
  padding: 2%;
  border-radius: 25px;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  color: black;

}
.live-container .nfl-card { /* background opacity */
  background-size: cover;
  background-color: rgba(0, 0, 0, .5);
  background-image: url('../src/assets/nfl.jpg');
  background-blend-mode: multiply;
}

.nfl-card img {
  width: 35%;

}
.live-container .nfl-card:hover {
  box-shadow: 0 2px 8px #0056b3;
  cursor: pointer;
}







@media (max-width: 768px) {
  .home-container {
    padding-top: 20%;
    margin-bottom: 200%;
  }

  .event-image {
    margin-top: 0;
    width: 45%;
    margin-left: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px #0057b3ab;
    border-radius: 10px;
  }
}